@import "tailwindcss";

@font-face {
  font-family: "Montserrat";
  src: url("./assets/Montserrat-VariableFont_wght.ttf");
  font-weight: normal;
  font-style: normal;
}
* {
  font-family: "Montserrat";
}
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: #ddcecd;
  border-radius: 10px;
}
.swiper-button-disabled {
  opacity: 0.3;
  pointer-events: none;
}

.custom-swiper-pagination .swiper-pagination-bullet {
  width: 20px;
  height: 6px;
  border-radius: 9999px;
  background-color: #f8f5f5;
  opacity: 0.5;
  transition: all 0.3s ease;
  margin: 0 4px;
}

.custom-swiper-pagination .swiper-pagination-bullet-active {
  opacity: 1;
  background-color: #9333ea;
}

.glassdoor-effect {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 16px;
  /* box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); */
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.2);
}
